body {
    font-family: 'Montserrat', sans-serif;
}

.header-product {
    background-color: rgb(172, 172, 172);
}

.container-header {
    padding: 20px 0px;
    margin: auto;
    position: relative;
    max-width: 910px;
    width: 100%;
}

/* .container-header h1{
    display: inline-block;
} */

.image-logo {
    margin-right: 230px;
}

.navigation {
    position: absolute;
    top: 110px;
    right: 0px;
    margin-left: 0px;
    /* display: inline-block; */
    /* vertical-align: top; */
    
}

/* .navigation ul {
    padding-top: 110px;
} */

.navigation li {
    display: inline;
    margin: 0px 0px 0px 20px;
}

.navigation a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.navigation a:hover {
    color: white;
    text-decoration: underline;
}

.container-products {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

/* .container-products ul {
    text-align: center;
} */

.container-products li {
    margin: 35px 1.5% 35px 1.5%;
    display: inline-block;
    text-align: center;
    width: 30%;
    box-sizing: border-box; /*width de 30% vai ser sempre a latgura com isso */
    padding: 30px 20px;   /*Padding vai caber dentro da caixa com 30% de largura */
    vertical-align: top;
    border: 5px solid black;
    border-radius: 10px;
}

.container-products li:hover {
    border-color: rgb(71, 71, 71);;
}

.container-products li:active {
    border-color: rgb(7, 7, 99);
}

.container-products li:hover .label-product {
    font-size: 34px;
}

.label-product {
    font-weight: bold;
    font-size: 25px;
}

.img-product {
    width: 100%;
}

.phrase {
    font-size: 18px;
    margin-bottom: 10px ;
}

.product-price {
    font-weight: bold;
    font-size: 20px;
}

.footer-product {
    text-align: center;
    background: url(imagens/bg.jpg);
    padding: 20px 0px;
}

.label-copyright {
    margin-top: 10px;
    color: white;
}

/* main {
    
} */

.container-contato {
    padding: 0px 50px;
}

.form-contato {
    max-width: 980px;
    width: 100%;
    margin: 30px auto;
}

.label-padrao{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}

.imput-padrao {
    display: block;
    margin-bottom: 15px;
    width: 50%;
    padding: 10px 20px;
}

.label-radio-msg {
    margin-bottom: 10px;
}

.checkbox {
    display: block;
    margin: 20px 0px;
}
.msg-dropdown {
    margin-bottom: 10px;
}

.btn-submt {
    margin-top: 30px;
    width: 40%;
    padding: 15px 0;
    border: none;
    border-radius: 100px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
}

.btn-submt:hover {
    background-color: rgb(2, 153, 2);
    transform: scale(1.2); /*Aumenta em 20% */
}

.container-tabela {
    width: 100%;
}

.div-largura-area-tabela {
    max-width: 980px;
    margin: 0 auto;
}

.tabela {
    margin: 50px 0 15px 0;
    max-width: 300px;
    width: 100%;
}

thead {
    background-color: rgb(172, 172, 172);
}

th, td {
    border: 1px solid black;
    padding: 8px 15px;
}

/* css da página inicial  */

.banner{
    width: 100%;
}

.principal {
    padding-top: 3em;
    /* margin: 3em 0; */
    background-color: #FEFEFE;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

/* Estudo de pseudo classes

.titulo-principal::first-letter {
    font-weight: bold;
}

.titulo-principal::first-line {
    font-style: italic;
} */

.img-instrumentos {
    max-width: 90px;
    width: 100%;
    float: left;
    margin: 0 20px 20px 0;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.container-estabelecimento {
    width: 100%;
    background: linear-gradient(#FEFEFE, #888888);
}

.label-estabelecimento {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.estabelecimento p {
    text-align: center;
}

.map-conteudo {
    padding: 3em 0;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.beneficios {
    padding-top: 3em;
    /* margin: 3em 0 0 0; */
    background-color: #888888;
    padding-bottom: 2em;
}

.label-beneficios {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.conteudo-beneficios {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

.lista-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens::before {
    margin-right: 5px;
    font-weight: bold;
    content: '\272D';  /* Conteudo da estrela */
}

.imagembeneficios {
    width: 60%;
}

.video {
    width: 560px;
    margin: 2em auto 0 auto;
}

/* Estudo de Seletores Avançados 

main > p {
    background: red;  Pega o primeiro elemento filho que aparece p
}

img + p {
    background-color: yellow; Pega primeiro elemento irmão
}

img ~ p {
    background-color: green; Pega todos os elementos irmãos
}

.principal p:not(#missao) {
    background-color: orange; Pega todos menos o p que tem id missao
} */


/* ESTUDO CALC 

.principal {
    width: calc(40% -26px);
} */